.Input
  display flex
  align-items center

.Input-editable-text
  display flex
  align-items center
  height 25px
  width 100%
  margin-top 10px
  font-size 16px
  color #000000
  cursor pointer
  b
    margin-right 5px
  span  
    min-width 200px
