.CustomDragLayer
  display flex
  align-items center
  border 1px dashed gray
  padding 0.5rem 1rem
  margin-bottom .5rem
  background-color yellow
  cursor move
  transform rotate(-7deg)
  WebkitTransform rotate(-7deg)

.CustomDragLayer-editable-text
  display flex
  align-items center
  height 25px
  width 100%
  margin-top 10px
  font-size 16px
  color #000000
  cursor pointer
  b
    margin-right 5px
  span  
    min-width 200px