.InputList {
  border: 1px solid grey;
  height: 500px;
  width: 50%;
  overflow: auto;
}

.InputList-Pros {
  border-right: 1px solid black;
}

.InputList-header {
  border-bottom: 1px solid black;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  background: #ffffff;
  z-index: 1;
  text-transform: uppercase;
}

.InputList-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}